body {
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
}

th > div {
  display: flex;
  flex-direction: column;
  font-weight: normal;
  width: 8rem;
}

th, td {
  width: 8rem;
}

th {
  vertical-align: top;
}

td {
  border-right: 2px solid #eee;
}

tr td:first-child {
  min-width: 8rem;
}

.sha {
  color: blue;
}
.date {
  font-weight: 300;
  font-size: small;
}
.login {
  color: green;
  font-weight: 700;
}
.message {
  font-weight: 300;
  font-size: small;
  overflow: hidden;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.tracking-issue {
  font-size: x-small;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

.suite {
  margin-top: 1rem;
}

.suite td div {
  background: #eee;
  padding: 0.3rem;
  margin-top: 0.5rem;
}

.test + .test td {
  border-top: 1px solid #eee;
}

.metric + .test td {
  border-top: 1px solid #eee;
}

.metric td:first-child {
  padding-left: 1rem;
  font-weight: 300;
}

.metric td:not(:first-child) {
  text-align: right;
  padding-right: 3rem;
  font-weight: 500;
  color: green;
}